obj
.vscode/
__pycache__/
*.py[cod]
*$py.class
pa*/tests/**/*.stdout
pa*/tests/*.stdout
pa*/tests/**/*.stderr
pa*/tests/*.stderr
pa*/tests/**/*.exit_status
pa*/tests/*.exit_status
pa*/tests/**/*.my
pa*/tests/*.my
pa*/tests/**/*.my.*
pa*/tests/*.my.*
pa*/tests/**/*.program
pa*/tests/*.program
pa*/tests/**/*.check
pa*/tests/*.check
pa*/tests/**/*.check.*
pa*/tests/*.check.*
!pa*/tests/**/*.ref.exit_status
!pa*/tests/*.ref.exit_status
!pa*/tests/**/*.ref.impl.exit_status
!pa*/tests/*.ref.impl.exit_status
!pa*/tests/**/*.ref.stdout
!pa*/tests/*.ref.stdout
!pa*/tests/**/*.ref.program.stdout
!pa*/tests/*.ref.program.stdout
!pa*/tests/**/*.ref.program.exit_status
!pa*/tests/*.ref.program.exit_status
.tmp-bsc*.cpp
.test_counts
scratch/
